<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.ManagerMapper" >
  <resultMap id="BaseResultMap" type="com.baizhi.entity.Manager" >
    <id column="mag_id" property="magId" jdbcType="VARCHAR" />
    <result column="mag_realname" property="magRealname" jdbcType="VARCHAR" />
    <result column="mag_username" property="magUsername" jdbcType="VARCHAR" />
    <result column="mag_password" property="magPassword" jdbcType="VARCHAR" />
    <result column="mag_level" property="magLevel" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    mag_id, mag_realname, mag_username, mag_password, mag_level
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from manager
    where mag_id = #{magId,jdbcType=VARCHAR}
  </select>
  <select id="selectOneByUsername" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from manager
    where mag_username = #{magUsername,jdbcType=VARCHAR}
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from manager
    where mag_id = #{magId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.baizhi.entity.Manager" >
    insert into manager (mag_id, mag_realname, mag_username, 
      mag_password, mag_level)
    values (#{magId,jdbcType=VARCHAR}, #{magRealname,jdbcType=VARCHAR}, #{magUsername,jdbcType=VARCHAR}, 
      #{magPassword,jdbcType=VARCHAR}, #{magLevel,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.baizhi.entity.Manager" >
    insert into manager
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="magId != null" >
        mag_id,
      </if>
      <if test="magRealname != null" >
        mag_realname,
      </if>
      <if test="magUsername != null" >
        mag_username,
      </if>
      <if test="magPassword != null" >
        mag_password,
      </if>
      <if test="magLevel != null" >
        mag_level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="magId != null" >
        #{magId,jdbcType=VARCHAR},
      </if>
      <if test="magRealname != null" >
        #{magRealname,jdbcType=VARCHAR},
      </if>
      <if test="magUsername != null" >
        #{magUsername,jdbcType=VARCHAR},
      </if>
      <if test="magPassword != null" >
        #{magPassword,jdbcType=VARCHAR},
      </if>
      <if test="magLevel != null" >
        #{magLevel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baizhi.entity.Manager" >
    update manager
    <set >
      <if test="magRealname != null" >
        mag_realname = #{magRealname,jdbcType=VARCHAR},
      </if>
      <if test="magUsername != null" >
        mag_username = #{magUsername,jdbcType=VARCHAR},
      </if>
      <if test="magPassword != null" >
        mag_password = #{magPassword,jdbcType=VARCHAR},
      </if>
      <if test="magLevel != null" >
        mag_level = #{magLevel,jdbcType=INTEGER},
      </if>
    </set>
    where mag_id = #{magId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baizhi.entity.Manager" >
    update manager
    set mag_realname = #{magRealname,jdbcType=VARCHAR},
      mag_username = #{magUsername,jdbcType=VARCHAR},
      mag_password = #{magPassword,jdbcType=VARCHAR},
      mag_level = #{magLevel,jdbcType=INTEGER}
    where mag_id = #{magId,jdbcType=VARCHAR}
  </update>
</mapper>