<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.baizhi.entity.User" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_photo" property="userPhoto" jdbcType="VARCHAR" />
    <result column="user_dharmaName" property="userDharmaname" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_sex" property="userSex" jdbcType="VARCHAR" />
    <result column="user_privoince" property="userPrivoince" jdbcType="VARCHAR" />
    <result column="user_city" property="userCity" jdbcType="VARCHAR" />
    <result column="user_sign" property="userSign" jdbcType="VARCHAR" />
    <result column="user_phoneNum" property="userPhonenum" jdbcType="VARCHAR" />
    <result column="user_passwrod" property="userPasswrod" jdbcType="VARCHAR" />
    <result column="user_salt" property="userSalt" jdbcType="VARCHAR" />
    <result column="user_cteatetime" property="userCteatetime" jdbcType="DATE" />
    <result column="user_status" property="userStatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_photo, user_dharmaName, user_name, user_sex, user_privoince, user_city, 
    user_sign, user_phoneNum, user_passwrod, user_salt, user_cteatetime, user_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <select id="selectWeek" resultType="int">
    SELECT count(*) FROM  user  where date_sub(curdate(), INTERVAL #{day} DAY) &lt;= date (user_Cteatetime);
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.baizhi.entity.User" >
    insert into user (user_id, user_photo, user_dharmaName, 
      user_name, user_sex, user_privoince, 
      user_city, user_sign, user_phoneNum, 
      user_passwrod, user_salt, user_cteatetime, 
      user_status)
    values (#{userId,jdbcType=VARCHAR}, #{userPhoto,jdbcType=VARCHAR}, #{userDharmaname,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{userSex,jdbcType=VARCHAR}, #{userPrivoince,jdbcType=VARCHAR}, 
      #{userCity,jdbcType=VARCHAR}, #{userSign,jdbcType=VARCHAR}, #{userPhonenum,jdbcType=VARCHAR}, 
      #{userPasswrod,jdbcType=VARCHAR}, #{userSalt,jdbcType=VARCHAR}, #{userCteatetime,jdbcType=DATE}, 
      #{userStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.baizhi.entity.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userPhoto != null" >
        user_photo,
      </if>
      <if test="userDharmaname != null" >
        user_dharmaName,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userSex != null" >
        user_sex,
      </if>
      <if test="userPrivoince != null" >
        user_privoince,
      </if>
      <if test="userCity != null" >
        user_city,
      </if>
      <if test="userSign != null" >
        user_sign,
      </if>
      <if test="userPhonenum != null" >
        user_phoneNum,
      </if>
      <if test="userPasswrod != null" >
        user_passwrod,
      </if>
      <if test="userSalt != null" >
        user_salt,
      </if>
      <if test="userCteatetime != null" >
        user_cteatetime,
      </if>
      <if test="userStatus != null" >
        user_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userPhoto != null" >
        #{userPhoto,jdbcType=VARCHAR},
      </if>
      <if test="userDharmaname != null" >
        #{userDharmaname,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userPrivoince != null" >
        #{userPrivoince,jdbcType=VARCHAR},
      </if>
      <if test="userCity != null" >
        #{userCity,jdbcType=VARCHAR},
      </if>
      <if test="userSign != null" >
        #{userSign,jdbcType=VARCHAR},
      </if>
      <if test="userPhonenum != null" >
        #{userPhonenum,jdbcType=VARCHAR},
      </if>
      <if test="userPasswrod != null" >
        #{userPasswrod,jdbcType=VARCHAR},
      </if>
      <if test="userSalt != null" >
        #{userSalt,jdbcType=VARCHAR},
      </if>
      <if test="userCteatetime != null" >
        #{userCteatetime,jdbcType=DATE},
      </if>
      <if test="userStatus != null" >
        #{userStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baizhi.entity.User" >
    update user
    <set >
      <if test="userPhoto != null" >
        user_photo = #{userPhoto,jdbcType=VARCHAR},
      </if>
      <if test="userDharmaname != null" >
        user_dharmaName = #{userDharmaname,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        user_sex = #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userPrivoince != null" >
        user_privoince = #{userPrivoince,jdbcType=VARCHAR},
      </if>
      <if test="userCity != null" >
        user_city = #{userCity,jdbcType=VARCHAR},
      </if>
      <if test="userSign != null" >
        user_sign = #{userSign,jdbcType=VARCHAR},
      </if>
      <if test="userPhonenum != null" >
        user_phoneNum = #{userPhonenum,jdbcType=VARCHAR},
      </if>
      <if test="userPasswrod != null" >
        user_passwrod = #{userPasswrod,jdbcType=VARCHAR},
      </if>
      <if test="userSalt != null" >
        user_salt = #{userSalt,jdbcType=VARCHAR},
      </if>
      <if test="userCteatetime != null" >
        user_cteatetime = #{userCteatetime,jdbcType=DATE},
      </if>
      <if test="userStatus != null" >
        user_status = #{userStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baizhi.entity.User" >
    update user
    set user_photo = #{userPhoto,jdbcType=VARCHAR},
      user_dharmaName = #{userDharmaname,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=VARCHAR},
      user_privoince = #{userPrivoince,jdbcType=VARCHAR},
      user_city = #{userCity,jdbcType=VARCHAR},
      user_sign = #{userSign,jdbcType=VARCHAR},
      user_phoneNum = #{userPhonenum,jdbcType=VARCHAR},
      user_passwrod = #{userPasswrod,jdbcType=VARCHAR},
      user_salt = #{userSalt,jdbcType=VARCHAR},
      user_cteatetime = #{userCteatetime,jdbcType=DATE},
      user_status = #{userStatus,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>